<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <%= json.arr[1].pass %>
    </div>
    <% var str="<span></span>";%>
    <%- str %>  <!--减号是转义输出，等号是不转义输出-->
    <% include ../1.txt %>  <!--导入文件-->
</body>
</html>